*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
    background-color: #404A65;
    color: #ECEDF0;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    margin-top: 4rem;
    text-align: center;
    line-height: 1.5;
}

.header h1{
    font-weight: 600;
    font-size: 4rem;
}

.header p{
    font-weight: 600;
    font-size: 1.5rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.img-section{
    line-height: 3;
}

#coin-img{
    width: 150px;
}

.shine-img{
    margin-left: 1.5rem;
}

.result{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}

#btn{
    margin-top: 1rem;
    width: 8rem;
    height: 2.5rem;
    border-radius: 8px;
    background-color: #1F6FB0;
    color: #ECEDF0;
    cursor: pointer;
}

